body {
  background-color: rgb(52, 52, 52);
  color: white;
}

.fade-in-image {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skill:hover {
  background-color: rgb(66, 66, 66) !important;
  cursor: pointer;
}

.project:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.skill-img {
  height: 160px;
  width: 160px;
}

.skill-img-tall-1 {
  width: 140px;
}

.skill-img-tall-2 {
  width: 120px;
}

.skill-img-tall-3 {
  width: 100px;
}

.skill-img-wide-1 {
  width: 180px;
}

.skill-img-wide-2 {
  width: 200px;
}

.skill-img-wide-3 {
  width: 220px;
}

.project-img {
  height: 200px;
}
